
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the search page! </h2>

<p>
    <input type="text" id="searchField" value="" /> 
</p>
<p id="searchResult">Will show the first search result</p>
